@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
html,
body {
  font-family: "Lexend", sans-serif !important;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow: hidden;
  background: #f7f8f9;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
input[type=text]:focus {
  border: 1px solid #000;
}

.kjgmjxihkp {
  color: var(--default);
  font-weight: bold;
  text-transform: uppercase;
}
.mqadoirftk {
  font-size: 10px;
  color: var(--grey);
}
.zisqcyshhb {
  color: var(--grey);
  font-size: 13px;
  margin-top: 10px;
}
.isqbqolgtu {
  color: var(--default);
}
.rqztgoylul {
  float: right;
}
.kutzgvnvuo {
  color: #8c8d8f;
  background: #e9ecef;
  padding: 5px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
.vwfcqseium {
  margin-top: 5px;
}
.mqnqqomwqy {
  position: relative;
}
.flexContainer {
  display: flex;
  flex-wrap: nowrap;
}
.flexDiv {
  background-color: #fff;
  margin: 3px;
  text-align: center;
}
.ohlvqtqflu {
  width: 10%;
}
.nrwhjuikke {
  width: 32%;
}
.plnfnztgev {
  width: 36%;
}
.foqoajrkvg {
  width: 31%;
}
.kjowhskilo {
  width: 36%;
}
.rslpmygbcf {
  width: 27%;
}
.inrqwlsqvg {
  width: 100%;
  padding: 5px;
  background: var(--default);
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}
.anleefcqnn {
  width: 100%;
  padding: 5px;
  background: var(--default);
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}
.phjmxgubwz {
  width: 100%;
  padding: 5px;
  background: var(--darkGreen);
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}
.fspqembzib {
  width: 100%;
  padding: 5px;
  background: var(--darkGreen);
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}
.fxexbqdlol {
  width: 100%;
  padding: 5px;
  background: var(--yellow);
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}
.jipygxdcve {
  width: 100%;
  padding: 5px;
  background: var(--yellow);
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}
.dnasrmqxlu {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px;
}
.iewyzzfhun {
  width: 50%;
  margin: 0px;
}
.wuawubiaxe {
  width: 100%;
  margin: 0px;
}
.khaxduhkmm {
  height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.parent {
  display: flex;
  flex-wrap: wrap;
}
.umhcbysyru {
  flex: 1 0 25%;
  margin: 5px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 5px;
}
.umhcbysyru::before {
  content: " Booked ";
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left:25px;
  transform: rotate(-45deg);
}
.child {
  flex: 1 0 25%;
  margin: 5px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 5px;
}
.childNoRestaurant {
  flex: 1 0 21%;
  margin: 5px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 5px;
}
.sixherwpuw {
  font-size: 10px;
}
.inqiowvkgz {
  width: 100%;
  height: 130px;
    object-fit: cover;
}
.oqmseozavb {
  color: var(--default);
  font-weight: bolder;
}
.grofahzumv {
  font-size: 11px;
}
.form-control {
  padding: 0.2rem 0.44rem;
  font-size: 0.8rem;
  border-radius: 0.0rem;
}
.btn {
  padding: 0.2rem 0.44rem;
  font-size: 0.8rem;
  border-radius: 0.0rem;
}
.wmphgigrnb {
  margin-top: 8px;
  width: 100%;
}
.jdmegedtfz {
  text-align: left;
}
.dhnnfxcqkm {
  color: var(--default);
}
.lllnnlgotb {
  font-size: 11px;
  width: 100%;
}
.lllnnlgotb td {
  padding: 5px;
}
.zuexkraafh {
  color: var(--yellow);
}
.gmnmbdygnw {
  font-size: 10px;
}
.qxuzwreqdt {
  color: var(--grey);
  text-decoration: underline;
  font-size: 10px;
  cursor: pointer;
}
.tableFixHead {
  height: 56.1vh;
  overflow: scroll;
  overflow-x: hidden;
}
.tableFixHeadWithoutQuickAdd {
  height: 69.4vh;
  overflow: scroll;
  overflow-x: hidden;
}

.eplxwhepxa {
  position: absolute;
  background: var(--yellow);
  color: white;
  padding: 2px;
  font-size: 10px;
}
.waifqtsovw {
  position: absolute;
  right: 0;
  background: var(--yellow);
  color: white;
  padding: 2px;
  font-size: 10px;
}
.jtoweyfypd {
  width: 100%;
}
.voxsfftism {
  width: 100%;
  background: var(--default);
  text-align: center;
  margin: auto;
  padding: 30px;
  color: white;
  font-weight: bold;
}
.wlszepocux {
  margin-left: 10px;
}
.usjuzdfdvl {
  color: var(--yellow);
  font-size: 14px;
  font-weight: bold;
}
.ckkcsvzksr {
  font-size: 12px;
  color: var(--grey);
}
.zwrkteeexe {
  margin-right: 10px;
  color: var(--default);
}
.oesmgitduc {
  margin-top: 5px;
}
.prtduitanr {
  font-weight: bold;
}
.oesmgitduc td {
  padding: 3px;
  font-size: 12px;
}
.nfhmtqrhis {
  font-size: 15px;
  color: var(--default);
}
.oizfbjddqq {
  background: var(--default);
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.ucduyqmgff {
  background: var(--darkGreen);
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.kipxcfuiuv {
  background: var(--yellow);
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.lbwvznktnd {
  background: var(--default);
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.lnwfprddkt {
  background: var(--yellow);
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.bdgysipfrj {
  padding: 0px 10px 0px 10px;
}
.modal-title {
  font-size: 14px;
}
.hlqcchvedu {
  margin-top: 10px;
}
.form-control:focus {
  box-shadow: none !important;
}
.nknmyxjszh {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(174, 105, 245, 0.5);
  z-index: 9999;
  position: absolute;
}
.mljalvnltj{
  text-align: left;
  font-size: 12px;
}
.ykaiwsoage{
  margin-top:20px;
  text-align: left;
  font-size: 12px;
}
.rkwizhkscq{
  margin-top:0px;
  text-align: left;
  font-size: 12px;
}
.ifgrtfiuqw{
  position: relative;
}
.twqysfgott{
  margin-left: 5px;
  color: var(--default);
  cursor: pointer;
  right:0px;
  float: right;
  margin-top: 2px;
}
.gkaypbrfnm{
  display: block;
  width: 80%;
  margin:30px auto;
}
.faqsvztvml{
  width:50px;
  float: right;
  text-align: right;
}
.dzlgfmdxvn,.tjswmvwvod{
  display: block;
}
.kexlkbindt{
  color: var(--default);
}
.qhzcqwbzba{
  position: relative;
}
.pjgkzsiken{
  padding: 5px;
  background: white;
  border:1px solid #e5e5e5;
  position: absolute;
  width: 100%;
  z-index: 555;
  font-size: 12px;
  text-align: left;
  display: none;
}
.qxcqgvgyft{
  padding:5px 0px 5px 0px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}
.qxcqgvgyft:hover{
  background: var(--default);
  color: white;
}
.trColorClass{
  background: var(--green);
}
.hazsdirwkr{
  padding: 5px;
  background: var(--default);
  font-size: 12px;
  color: white;
  display: inline-block;
  cursor: pointer;
  width: 100px;
  margin-bottom:5px;
  text-align: center;
}
.kxbkwzcope{
  background: var(--darkGreen);
}
.pgudfhnmty{
  width: 50%;
  text-align:left !important;
}
.tfzcwradvp,.gilewlrupy{
  width: 100%;
}
.tfzcwradvp td{
  width: 100%;
  margin-top:5px;
  vertical-align: bottom;
  width: 40%;
}
.gilewlrupy td{
  width: 100%;
  margin-top:5px;
  vertical-align: bottom;
  width: 40%;
}
.oopqnjttiw{
  width: 100%;
  text-align: center;
}
.tnqnlhuldn,.awozixezld{
  width: 100%;
  text-align: center;
}
.wssoxkvqbf{
  width: 100%;
  text-align: center;
}
.entujzxqqu{
  margin-top: 10px;
}
.bmhwaxmrap{
  display: none;
}
.ytjeufczfu{
  float: right;
  margin-top:10px;
}
.scnqjwalyl{
  float: right;
  margin-top:10px;
}
.hgwajgrogq{
  text-decoration: underline;
  font-size: 10px;
  color: tomato;
  cursor: pointer;
}
.lvwcexokos{
  width: 100%;
  margin-bottom: 20px;
}
.vcifezirdo{
  width: 100%;
}
.gbkpyhjojf{
  width:100%;
}
.sfzwektros{
  width: 50%;
}
.ymepjnmpun{
  width: 100%;
  margin:0px;
}

.ifgrtfiuqw.base {
    background-color: #fff;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.ifgrtfiuqw.highlighted {
    background-color: #b0f7c3;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}
.myvczezrbm{
  color:var(--yellow);
  font-weight:bold;
}
.gejarqqfgd,.fchdbybagj{
  color: var(--default);
  font-weight:bold;
}
.gkvhzjmrjr{
  font-size: 11px;
  color:red;
}
.hlpmxkwtnz{
  overflow: scroll;
  overflow-x: hidden;
  height:380px;
}
.tmywzlmytl{
  background: var(--yellow);
  color: white;
}
.xkvawimkrj{
  text-decoration: underline;
  cursor: pointer;
}
.zumijhnuub{
  font-size:10px;
  text-decoration: underline;
  color:var(--yellow);
  cursor: pointer;
}
.lqrwhmuvjf{
  font-size:10px;
  text-decoration: underline;
  color:var(--primary);
  cursor: pointer;
}
.dosnmdzkhr{
  background: var(--default);
  color:white;
  text-align: center;
  width: 150px;
  border-radius:5px;
  padding: 10px;
  cursor: pointer;
}
.jqkorjasuq{
  text-decoration: underline;
  cursor: pointer;
}
.ekmpoiovzr{
  background:green;
}
.kiequsbrdw{
  background: white;
  width: 100%;
  margin-top: 3px;
}
.zhinyzxikw{
  padding: 20px;
}
.jmsiqzitwc{
  padding: 5px;
  margin-top: 5px;
  border-radius: 2px;
  width: 60%;
}
.ysmggqafab{
  margin-bottom: 5px;
}